
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Source Sans Pro";
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(48,48,130,1) 25%, #053b99 68%, rgba(150,212,253,1) 68%, rgba(150,212,253,1) 100%);
}

html,body {
    height: 100%;
}

.serif-font {
    font-family: 'Source Serif Pro';
}

.mono-font {
    font-family: 'Source Code Pro';
}

.content {
    background-color: hsl(210deg, 68%, 80%);
    border: 3px solid black;
}

.navbar {
    border: 1px solid black; 
}

.nav-item {
    transition: .1s;
}

.nav-item:hover {
    color: white;
    background-color: black;
}
